.primary-button-group {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 1em;

  a {
    width: auto;
    align-self: flex-start;
    display: inline-flex;
    white-space: nowrap;
  }
}

.picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (min-width: 576px) {
    /*display: none;*/
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 2px solid var(--color-lobster);
    margin: 0em 0.6em;
  }

  .dot.selected {
    background: var(--color-lobster);
  }

  .dot:hover {
    background: var(--color-lobster);
    cursor: pointer;
  }

  &.yellow {
    .dot { border: 2px solid var(--color-gold); }
    .dot:hover { background: var(--color-gold); }
    .dot.selected { background: var(--color-gold); }
  }
}

#ProductOptions {
  transition: transform 300ms ease;
}

#ComingSoonBanner.sticky-tape {
  position: absolute;
  bottom: 200px;
  opacity: 0.85;
  left: 0px;
  width: 100%;
  height: 115px;
  background: #bb51e1;
  transform: rotate(-3deg) translateX(-0%);
  z-index: 98;
  font-size: 2em;
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 576px) {
    font-size: 3em;
    width: 120%;
    transform: rotate(-3deg) translateX(-10%);
  }
}

#ProductRange {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 4em;
  transition: scale 300ms ease, transform 300ms ease;

  .selected {
    scale: 1;
    @media (min-width: 576px) {
      scale: 1.1;
    }
  }
}

#DiyRange {
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;

  a.no-deco { 
    text-decoration: none;
  }

  a.no-deco:hover {
    text-decoration: underline;
    text-decoration-color: transparent;
  }

  a.no-deco:hover .grid-item .title {
    text-decoration: underline;
    text-decoration-color: black;
  }

  a.no-deco:hover .grid-item .subtitle {
    text-decoration: underline;
    text-decoration-color: white;
  }

  div.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: white;
    background: var(--color-panel-gradient);
    max-height: 320px;

    img { width: 80%; }

    &:hover {
      cursor: pointer;
      background: var(--color-panel-gradient-highlight);
    }

    span.option {
      margin-top: 1.5em;
      margin-bottom: .5em;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: #444;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Comic Neue';
    }

    span.title {
      padding: 10px;
      background: #ffc107;
      color: black;
      font-family: 'Montserrat';
      font-weight: 600;
      align-self: flex-start;
      width: 100%;
      box-sizing: border-box;
      @media (min-width: 576px) {
        width: auto;
      }
    }

    span.title::after {
      content: "";
      display: inline-block;
      position: relative;
      top: 1px;
      margin-left: 7px;
      background: url("/img/ext.png");
      background-size: contain;
      width: 14px;
      height: 14px;
    }

    span.subtitle {
      display: block;
      width: 80%;
      margin: 0 auto;
      font-family: 'Comic Neue';
      padding: .3em 1em;
      background: #111;
      border-radius: 8px;
    }
  }
}

#ArticleRange {
  display: flex;
  flex-direction: row;
  padding: 0 3em;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 720px) {}

  article { text-align: left; }
  article { max-width: 720px; }
  article { display: none; }
  article.active { display: block; }
}