html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* sizings */
  --global-min-width: 360px;

  /* colours */
  --color-bg: #0d0d0d;

  --color-yellow: #ffc107;
  --color-yellow-light: #f2c849;
  --color-yellow-dark: #d7a100;
  --color-yellow-super-dark: #977000;
  
  --color-lobster: #e1516c;
  --color-lobster-light: #ea6c84;
  --color-lobster-dark: #a83148;
  --color-lobster-super-dark: #802133;

  --color-green: #00d270;
  --color-green-light: #14e382;
  --color-green-dark: #069954;
  --color-green-super-dark: #048448;

  --color-gold: #cca747;
  --color-gold-light: #dfc66d;
  --color-gold-dark: #a7782d;
  --color-gold-super-dark: #241802;

  --color-panel-gradient: linear-gradient(to bottom, #18191e, #18191d);
  --color-panel-gradient-highlight: linear-gradient(to bottom, #24262e, #24262d);

}

body {
  padding: 0;
  margin: 0;
  color: white;
  background: var(--color-bg);
  min-width: var(--global-min-width);
}

p {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Comic Neue";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3em;
}

h3 {
  font-family: "Comic Neue";
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  font-size: 1.18rem;
}

.longform {
  text-align: left;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.longform p {
  font-family: "Comic Neue";
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  font-size: 1.2rem;
}

div.divider {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  border-bottom: 1px solid var(--color-lobster);
}

div.divider.or::after {
  content: "OR";
  width: 50px;
  height: 1.5rem;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  background: var(--color-bg);
  color: var(--color-lobster);
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  font-family: "Comic Neue";
  text-align: center;
  font-style: italic;
  z-index: 10;
}

.button {
  position: relative;
  display: inline-block;
  background: #6100b0;

  text-decoration: none;
  user-select: none;

  font-family: "Comic Neue";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1.2em 1em;
  &.small { padding: .4em .6em; }


  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
  &.primary { background: #6100b0;
    &:hover { background: #470082;
    &:active { background: #8a2cd7; } }
  }
  &.secondary { background: var(--color-lobster-super-dark); color: #fff;
    &:hover { background: var(--color-lobster-dark);
    &:active { background: var(--color-lobster-light) } }
    &.selected { background: var(--color-lobster); border-color: var(--color-lobster); }
  }
  &.yellow { background: var(--color-yellow-super-dark);  color: #000; 
    &:hover { background: var(--color-yellow-dark);
    &:active { background: var(--color-yellow-light) } }
    &.selected { background: var(--color-yellow); border-color: var(--color-yellow); }
  }
  &.green { background: var(--color-green-super-dark);
    &:hover { background: var(--color-green-dark);
    &:active { background: var(--color-green-light) } }
    &.selected { background: var(--color-green); border-color: var(--color-green); }
  }

  &.text {
    background: none;
    border: 1px dashed white;
    &:hover { text-decoration: underline; }
  }

  &.external::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 7px;
    background: url("/img/ext_white.png");
    background-size: contain;
    width: 14px;
    height: 14px;
  }

  &.selected::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    /*border-bottom: 3px solid;*/
    border-color: inherit;
  }
}

.button-group {
  display: flex;
  gap: .5em;
  &.start { justify-content: flex-start; }
  &.center { justify-content: center; }
  &.end { justify-content: flex-end; color: #000; }
}

a.more-link {
  padding: 1em;
  display: inline-block;
  color: white;
  font-size: 0.9rem;
  font-family: 'Comic Neue';
}
